In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import basic libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import gzip

In [19]:
test_df = pd.DataFrame(pd.read_csv('../00_Resources/fake_or_real_news.csv'))
test_df = test_df.drop(columns=['Unnamed: 0'])
test_df = test_df.replace({'FAKE': 'False', 'REAL': 'True'})
test_df

,title,text,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",False
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,False
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,True
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",False
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,True
...,...,...,...
6330,State Department says it can't find emails fro...,The State Department told the Republican Natio...,True
6331,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,False
6332,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,False
6333,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",True
6334,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,True

In [41]:
with open('../00_Resources/true_fake.csv', 'rb') as fd:
    gzip_fd = gzip.GzipFile(fileobj=fd)
    df = pd.read_csv(gzip_fd)
df = df.drop(columns={'Unnamed: 0','subject','date'})
df = df.rename(columns={'category':'label'})
# df = df.append(test_df, ignore_index=True)
df = df.sample(frac=1).reset_index(drop=True)
# df = df.loc[df['label'] != 'unknown']
df

,title,text,label
0,Trump Has Already Made Us The World’s Punch L...,Trump s biggest champion on the other side of ...,False
1,Trump Can’t Find Anyone To Serve On His Natio...,"Donald Trump actually won, despite the popular...",False
2,Illinois Senate passes grant program for needy...,CHICAGO (Reuters) - The Illinois Senate on Thu...,True
3,Trump Escalates Confrontation With China In M...,Donald Trump is moving the United States close...,False
4,BLM PROTESTER Leaves Angry After Watching FERG...,Filmmaker and author Phelim McAleer knew he wa...,False
...,...,...,...
44893,“Peaceful” Muslims Scream: “THIS IS FOR ALLAH”...,Just another day in the holy month of Ramadan ...,False
44894,"With budget cuts looming, U.S. aid chief vows ...",WASHINGTON (Reuters) - Facing potentially deep...,True
44895,OBAMA’S FEDERALIZATION OF POLICE FORCE? BALTIM...,I just happened to go to the Baltimore mayor s...,False
44896,MARTHA STEWART Makes Lewd Gesture Towards Trum...,"Martha, Martha, Martha You re 75-years old! Ti...",False
44897,Republican Senator Open To Voting For Hillary...,The Republican Party may be losing another sup...,False

In [42]:
# ML libraries
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression, ElasticNet, Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [43]:
# TODO: find out how to CountVectorize a multi-dimensional array.
X = df['title']
y = df['label']

In [44]:
# Split the data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

print(X.shape, y.shape)

(44898,) (44898,)

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize the `tfidf_vectorizer` 
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7) 

# Fit and transform the training data 
tfidf_train = tfidf_vectorizer.fit_transform(X_train) 

# Transform the test set 
tfidf_test = tfidf_vectorizer.transform(X_test)

tfidf_train

<30081x18143 sparse matrix of type '<class 'numpy.float64'>'
	with 269872 stored elements in Compressed Sparse Row format>

In [46]:
tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vectorizer.get_feature_names())
tfidf_df

,00,000,000m,000s,0045,0111,0112,0130,0149,02,...,zoo,zoolander,zor,zschaepe,zuckerberg,zulia,zuma,zummar,état,žižek
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30076,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30077,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30078,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30079,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30080,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
from sklearn.svm import SVC
# Create a support vector machine linear classifer and fit it to the training data
model = SVC(C=1.0, kernel='linear', gamma=0.0001)
model.fit(tfidf_train, y_train)

# Print the model score using the test data
print(model.score(tfidf_train, y_train))
print(model.score(tfidf_test, y_test))

0.9794554702303779
0.9461429439157725

In [48]:
# Calculate the classification report
from sklearn.metrics import classification_report
preds = model.predict(tfidf_test)
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

       False       0.95      0.94      0.95      7766
        True       0.94      0.95      0.94      7051

    accuracy                           0.95     14817
   macro avg       0.95      0.95      0.95     14817
weighted avg       0.95      0.95      0.95     14817

In [49]:
# save model using joblib
import joblib
filename = '../05_Models/fake_title_SVM_model.sav'
joblib.dump(model, filename)

['../05_Models/fake_title_SVM_model.sav']

In [50]:
X = df['text']
y = df['label']

# Split the data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Initialize the `tfidf_vectorizer` 
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7) 

# Fit and transform the training data 
tfidf_train = tfidf_vectorizer.fit_transform(X_train) 

# Transform the test set 
tfidf_test = tfidf_vectorizer.transform(X_test)

tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vectorizer.get_feature_names())

# Create a support vector machine linear classifer and fit it to the training data
# model = SVC(C=1.0, kernel='linear', gamma=0.0001)
model.fit(tfidf_train, y_train)

# Print the model score using the test data
print(model.score(tfidf_train, y_train))
print(model.score(tfidf_test, y_test))

# Calculate the classification report
preds = model.predict(tfidf_test)
print(classification_report(y_test, preds))

0.998404308367408
0.9927785651616386
              precision    recall  f1-score   support

       False       1.00      0.99      0.99      7766
        True       0.99      1.00      0.99      7051

    accuracy                           0.99     14817
   macro avg       0.99      0.99      0.99     14817
weighted avg       0.99      0.99      0.99     14817

In [51]:
preds = model.predict(tfidf_test)

,00,000,0000,00004,000063,00042,0009,000938,000american,000have,...,zzjjpdaivn,zzn3bqnfsk,zzpx_bzka40police,zzqvyk8xif,zzsg90pbf6,zztaine,zzuml4hkoc,zzzzaaaacccchhh,zzzzzzzz,émigré
0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.030085,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30076,0.000000,0.116148,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30077,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30078,0.185293,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30079,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30080,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# save model using joblib
import joblib
filename = '../05_Models/fake_body_SVM_model.sav'
joblib.dump(model, filename)

In [55]:
X = df['title']
y = df['label']

# Split the data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# A pipeline for the text model
vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)
model = SVC(C=1.0, kernel='linear', gamma=0.0001, probability=True)
pipeline = make_pipeline(vectorizer, model)

# Fit vectorizer and model
pipeline.fit(X_train, y_train)

# Print model score
print(pipeline.score(X_train, y_train))
print(pipeline.score(X_test, y_test))

0.9794554702303779
0.9461429439157725

In [56]:
# save model using joblib
import joblib
filename = '../05_Models/fake_title_SVM_pipeline.sav'
joblib.dump(pipeline, filename)

['../05_Models/fake_title_SVM_pipeline.sav']